<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Athishaya</title>
    <link rel="shortcut icon" href="favicon.ico?v=2" type="image/x-icon" />
    <link rel="stylesheet" href="css2/foodstyl.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:ital@1&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://use.fontawesome.com/1b10875e66.js"></script>


  </head>
  <body >
   <%- include("nav")-%>
    <section id="2">
      <header class="work" ><u></u>OUR WORK</u></header>
      
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
          
            <img class="img"src="https://images.hindustantimes.com/img/2021/09/29/1600x900/cdf2e3e4-211c-11ec-aeba-4b5b44d8440e_1632917000281.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block hg">
              <h5>Mid-day meal scheme </h5>
              <p>We had provided of about 20+ underprivilaged  schools a Mid-day meal everyday</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img class="img"src="https://imgk.timesnownews.com/story/1567090945-Anganwadi_Centre_food.jpeg?tr=w-1200,h-900" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block hg">
              <h5>Nutrition Programme</h5>
              <p>We provide healthy nutrition food for Anganawadi students such as eggs,fruit,pure milk etc</p>
            </div>
          </div>
          <div class="carousel-item">
            <img  class="img"src="https://assets.thehansindia.com/h-upload/feeds/2019/08/04/202464-food-items-donated.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block hg">
              <h5>Development Programme</h5>
              <p>We provide a ration for old age orphange every month</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
      <p class="intr">Athishaya is a non profitable organisation whose main aim is to collect <br>the leftover food from donors and  supply to the under privilaged people </p>
      <p class="int2">Our goal is to feed people not dustbins</p>
      <section id="feature">
        <div class="row">
          <div class="fbox col-lg-2 col-sg-6" style="position: relative;left: 1px;">
            <i class="fa fa-phone fa-4x ico" aria-hidden="true"></i>
            <h6 class="headn">contact us</h6>
            <p class="subt">you can contact us if u are willing to supply food or if u are in need of food</p>
          </div>
          <div class="fbox col-lg-2 col-sg-6">
            <i class="fa fa-check fa-4x ico" aria-hidden="true"></i>
            <h6 class="headn">quality check</h6>
            <p class="subt">Excess Food will be checked based on our Food Safety and Standard Guidelines</p>
          </div>
          <div class="fbox col-lg-2 col-sg-6">
            <i class="fa fa-truck fa-4x ico" aria-hidden="true"></i>
            <h6 class="headn">deliver</h6>
            <p class="subt">Excess food is distributed to needy people with love.</p>
          </div>
          <div class="fbox col-lg-2 col-sg-6">
            <i class="fa fa-recycle   fa-4x ico" aria-hidden="true"></i>
            <h6 class="headn">recycling</h6>
            <p class="subt">the food which is of bad quality is converted to organic manure and supplied to farmers under nominal price </p>
          </div>
          <div class="fbox col-lg-2 col-sg-6">
            <i class="fa fa-gift fa-4x ico" aria-hidden="true"></i>
            <h6 class="headn">reward</h6>
              <p class="subt">we will reward u  based on your donations on monthly basis</p>
            
          </div>
        </div>
      </section>
      <header class="partner">------------OUR PARTNERS-----------------</header>
      <div id="carouselExampleSlidesOnly" class="carousel slide brandsp" data-bs-ride="carousel" data-bs-interval="2000" style="background-color:#E8E2E2 ;">
        <div class="carousel-inner hlo " style="padding-top:0 ;padding-bottom: 0;">
          <div class="carousel-item active cit">
            <img src="img/1200px-BMS_College_of_Engineering.svg-removebg-preview.png" class="d-block w-10 hj1" alt="...">
          </div>
          <div class="carousel-item cit">
            <img src="img/National-Service-Scheme_Preview-removebg-preview.png" class="d-block w-40 hj2" alt="...">
          </div>
          <div class="carousel-item cit">
            <img src="img/RwO5UbFy_400x400-removebg-preview.png" class="d-block w-40 hj3" alt="...">
          </div>
          <div class="carousel-item cit">
            <img src="img/images-33-removebg-preview.png" class="d-block w-20 hj3" alt="...">
          </div>
        </div>
      </div>
      
    <header class="feedback">------------PEOPLE'S OPINION---------------</header>
    <section id="testinomial" >
    
    <div id="carouselExample" class="carousel slide" >
      <div class="carousel-inner fed" >
        <div class="carousel-item active fty">
          <h2>"You are all doing great work proud to see a 
            youngsters taking such a good initiative"</h2>
            <p class="im">~Imam Khan</p>
        </div>
        <div class="carousel-item fty">
          <h2>"Many people in India are sleeping without food,
            Great lead by Athishaya in reducing this issue"</h2>
            <p class="im">~Suresh Bandari</p>

        </div>
        <div class="carousel-item fty">
          <h2>"Thank you Athishaya for all your help 
            because of you my family is surviving happily"</h2>
            <p class="im">~Joseph J </p>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br>
  
    <a href="mailto:Athisaya@gmail.com"><i  style="color: black" class="fa fa-envelope fa-1x gv"></i>
                </a>
    <a href="login.html"><i style="color:black" class="fa fa-sign-in  gv" aria-hidden="true"></i></a>
    <a href=""><i style="color:black" class="fa fa-instagram  gv" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100089822986352"><i  style="color:black" class="fa fa-facebook-square  gv" aria-hidden="true"></i></a>
    </section>
  <script src="food.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  </body>
</html>
